## .NET
bin/
obj/
*.user
*.suo
.vs/
*.swp

## Node / Angular
node_modules/
.angular/
dist/
frontend/dist/
frontend/node_modules/
frontend/.angular/

## IDE
.idea/
*.iml

## Secrets / local
.env
*.pfx

## OS
.DS_Store
Thumbs.db
